{% extends 'shop/basic.html' %}

{% block title%} tracker Us{% endblock %}
{% block body %} 

<div class="container">
    <div class="col my-4">
    <h2>  Enter your Email address to Track your order</h2>
    <form method="POST" action="#" id ="trackerForm">{% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name"><h4>OrderId</h4></label>
                <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Enter your order Id ">
              </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4"><h4>Email</h4></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email xyz@.com">
          </div>
          <button type="submit" class="btn btn-primary">Track order</button>
          
        </div>
    
    </div>
     <div class="col my-4">
    <h2> Your orders status :- </h2>
    <div class="my-4">

        <ul class="list-group my-4" id="items">
        	Enter your OrderID and Email and click track order to find your order details....!
           
          </ul>


       </div> 
       <h2> Your orders Details  </h2>
       <div class="my-4">
   
           <ul class="list-group my-4" id="citems">
                        
             </ul>
   
   
          </div>     
    </div>
</div>


{% endblock %}

{% block js %}
<script>
 
 $('#trackerForm').submit(function(event){

 	$('#items').empty();
 	var formData = {
 		'orderId': $('input[name=orderId]').val(),
 		'email': $('input[name=email]').val(),
 		'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
 };
 // Process
 $.ajax({

 	type:'POST',
 	url: '/Shop/tracker/',
 	data: formData,
 	encode: true
 })

  .done(function(data){
 	 $('#citems').empty(); 
  console.log(data)// views.py ek json hej hai
  data =  JSON.parse(data);
 	 

 	if (data['status']=='success'){
    updates = data['updates'];  
    for(i=0;i<updates.length;i++){
      
     let text = updates[i]['text'];
     let time = updates[i]['time'];
     
     mystr = ` <li class="list-group-item d-flex justify-content-between align-items-center">
            ${text}
              <span class="badge badge-primary badge-pill">${time}</span>
            </li>`
      $('#items').append(mystr);      
  }
  cart = JSON.parse(data["itemsJson"]);
  console.log(cart);
  for(item in cart){
      
    let name = cart[item][1];
    let qty = cart[item][0];
    
    mystr = ` <li class="list-group-item d-flex justify-content-between align-items-center">
            ${name}
            <span class="badge badge-primary badge-pill">${qty}</span>
          </li>`
    $('#citems').append(mystr);      
}

}
    else{
    	mystr = ` <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4>Sorry ! Please check your OrderId and Email.... We are not able to fetch your order...</h4>
             
            </li>`

       $('#items').append(mystr);
       $('#citems').append(mystr); // blank nai ayga ab
    }
  
  // fillll in the order details
 


 });

event.preventDefault();

});

</script>


 {% endblock %}